@model List<ProyectoNoSQL_Web.Entidades.Proveedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow m-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Proveedores</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <a class="btn btn-primary btn-user btn-block my-3" href="@Url.Action("Nuevo","Proveedor")">Nuevo</a>
                        <table class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>Nombre del Proveedor</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Correo Electrónico</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td>@item.NombreProveedor</td>
                                        <td>@item.DireccionProveedor</td>
                                        <td>@item.TelefonoProveedor</td>
                                        <td>@item.EmailProveedor</td>
                                        <td>
                                            <a href="@Url.Action("Actualizar","Proveedor", new { id = @item.Id })"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                            <a href="@Url.Action("Eliminar","Proveedor", new { id = @item.Id })"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>