@model List<ProyectoNoSQL_Web.Entidades.Rol>

@{
    ViewBag.Title = "Index";
}

<div class="card shadow m-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles de Empleados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">

                        <a class="btn btn-primary btn-user btn-block my-3" href="@Url.Action("NuevoRol","Rol")">Nuevo</a>
                        <table class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>ID Rol</th>
                                    <th>Nombre Rol</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td>@item.IdRol</td>
                                        <td>@item.NombreRol</td>
                                        <td>
                                            <a href="@Url.Action("ActualizarRol","Rol", new { id = @item.Id })"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                            <a href="@Url.Action("EliminarRol","Rol", new { id = @item.Id })"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
