@model ProyectoNoSQL_Web.Entidades.DatosPersonales

@{
    ViewBag.Title = "MostrarUno";
}

@using (Html.BeginForm("MostrarUno", "Home", FormMethod.Post))
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>ID</label>
                                @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <label>Cedula</label>
                                @Html.TextBoxFor(model => model.Cedula, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>ApellidoP</label>
                                @Html.TextBoxFor(model => model.ApellidoP, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>ApellidoM</label>
                                @Html.TextBoxFor(model => model.ApellidoM, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Edad</label>
                                @Html.TextBoxFor(model => model.Edad, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Genero</label>
                                @Html.TextBoxFor(model => model.Genero, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Fecha</label>
                                @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
