@model List<ProyectoNoSQL_Web.Entidades.Inventario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow m-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Inventario</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <a class="btn btn-primary btn-user btn-block my-3" href="@Url.Action("Nuevo","Inventario")">Nuevo</a>
                        <table class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Nombre del Producto</th>
                                    <th>Descripcion</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td>@item.IdProducto</td>
                                        <td>@item.NombreProducto</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Precio</td>
                                        <td>@item.Stock</td>
                                        <td>@item.Estado</td>
                                        <td>
                                            <a href="@Url.Action("Actualizar","Inventario", new { id = @item.Id })"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                            <a href="@Url.Action("Eliminar","Inventario", new { id = @item.Id })"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>